.top i {
  margin: 1rem 1rem 0 0;
}

.bottom div {
  width: 50%;
  margin-bottom: 50px;
}

.obj-width {
  max-width: 1200px;
  margin: auto;
}

footer {
  background: #1f4a40;
  color: #fff;
  padding: 4rem 0;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top .logo {
  width: 170px;
  margin-bottom: 1rem;
}

.top i {
  color: #fff;
  font-size: 2rem;
  margin-left: 0.5rem;
}

.bottom {
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bottom a {
  text-decoration: none;
  color: #fafafa;
  line-height: 35px;
  font-size: 1.1rem;
}

.bottom div {
  display: flex;
  flex-direction: column;
}